* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: left;
    align-items: top;
    min-height: 100vh;
    background-color: #6e7475;
}

.navigation {
    position: relative;
    /* height: 1000px; */
    width: 75px;
    background: #192123;
    box-shadow: 10px 0 0 #ce1d2f;
    border-left: 10px solid #192123;
    overflow-x: hidden;
    transition: width 0.5s;
}

.navigation:hover {
    width: 250px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background: #ce1d2f;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #ce1d2f;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #ce1d2f;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/* ======================================================================================== */

.container {
    position: relative;
    width: 100%;
    padding: 20px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    /*flex-wrap: wrap;*/
}

h1{ /* temporary */
    color: white;
    padding-left: 20px;
}

.container .ticket {
    position: relative;
    width: 480px;
    height: 135px;
    /*background: white;*/
    margin: 20px auto;
    /*border-radius: 30px;*/
    /*overflow: hidden;*/
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);*/
    text-align: center;
    display: flex;
}

.container .ticket .left {
    /*background: gray;*/
    width: 355px;

    /*border-right: 2px dashed #e5e5e5;*/

    /* use color looklike background */

    border-right: 2px dashed #6e7475;

    background: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.container .ticket .left .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /*background: darkgreen;*/
}

.container .ticket .left .head .h-l {
    padding-left: 1rem;
    color: firebrick;
}

.container .ticket .left .head .h-r {
    padding-right: 1rem;
    color: #666666;
}

.container .ticket .left .cname {
    height: 55px;
    /*background: darkslateblue;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 1rem;
    color: rgb(51, 51, 51);
}

.container .ticket .left .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /*background: darkgreen;*/
}

.container .ticket .left .footer .ft-l {
    display: flex;
    padding-left: .7rem;
}

.container .ticket .left .footer .ft-l img {
    height: 25px;
}

.container .ticket .left .footer .ft-r {
    display: flex;
    padding-right: .7rem;
}

.container .ticket .left .footer .ft-r p{
    font-size: 14px;
    color: #929292;
}

.container .ticket .right {
    width: 125px;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.container .ticket .rightfull {
    width: 125px;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    opacity: 0.15;
}

.container .ticket .right .head {
    align-items: center;
    display: flex;
    height: 40px;
    /*background: darkgreen;*/
    justify-content: space-between;
}

.container .ticket .right .head .h-l {
    display: flex;
    padding-left: .5rem;
}

.container .ticket .right .head .h-r {
    color: firebrick;
    padding-right: 1rem;
}

.container .ticket .right .head .h-l img {
    height: 20px;
}

.container .ticket .right .content {
    height: 55px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    /*background: gray;*/
}

.container .ticket .right .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /*color: #666666;*/
    color: #929292;
}

.container .ticket .right .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: rgb(5, 179, 5);
    /* background: rgb(185, 185, 185); */
    color: white;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.container .ticket .right .content a:hover {
    background: rgb(28, 134, 28);
}

/* ======================================================================================== */

.containertable {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.containertable .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 20px; /* 15px 15px 0 0 */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.containertable .content-table thead tr {
    background-color: #ce1d2f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.containertable .content-table th,
.containertable .content-table td {
    padding: 12px 15px;
}

.containertable .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: white;
}

.containertable .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    /* font-weight: bold; */
    color: #ce1d2f;
}

.containertable .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ce1d2f;
}

.containertable .content-table tbody tr a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: #246bdd;
    /* background: rgb(185, 185, 185); */
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.containertable .content-table tbody tr a:hover {
    background: #d6e6ff;
    color: #246bdd; /* #4187f6; */
}

.containertable .content-table tbody tr .dangerbutton a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: #ce1d2f;
    /* background: rgb(185, 185, 185); */
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.containertable .content-table tbody tr .dangerbutton a:hover {
    background: #ffabab;
    color: #ce1d2f;
}

/* ====================================================================== */

button {
    outline: none;
    /* padding: 20px; */
    -webkit-appearance: none;
    background: white;
    border: none;
}

.pen {
    flex: 1 1 100%;
}

.controls {
    display: flex;
    flex-direction: column;
    /* width: 20px; */
    /* height: 100%; */
    /* min-height: 400px; */
    margin: 0 auto;
    justify-content: space-around;
}

.controls button {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: #246bdd;
    /* background: rgb(185, 185, 185); */
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.modal-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transform: translateZ(0);
}

.modal {
    background: #fff;
    border-radius: 25px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
}

.modal .text-area {
    /* background: #DA2632; */
    text-align: center;

    /* color: #111; */
    width: 100%;
    height: 70%;
}

.modal .text-area h2 {
    color: rgb(92, 92, 92);
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 30px;
}

.modal .text-area p {
    color: rgb(92, 92, 92);
    margin: 5px;
    font-size: 16px;
}

.modal footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.modal button {
    border: none;
    border-radius: 20px;
    padding: 25px 50px;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
    /* margin: 0 10px 10px 0; */
}

.submit {
    background: #8CDA26;
}

  .cancel {
    background: #DA2632;
  }

/* =========================================================== */

/*@import url('https://rsms.me/inter/inter-ui.css');*/
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}

.page {
  /* background: #e2e2e5; */
  background: #6e7475;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
  border-radius: 30px;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.containerlogin {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .containerlogin {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.leftlogin {
  background: white;
  height: calc(100% - 80px);
  top: 40px;
  position: relative;
  width: 50%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
@media (max-width: 767px) {
  .leftlogin {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 30px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1;
  /*margin: 0px;*/
  margin-left: 40px;
}
.right {
  background: #192123;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #192123;
}
#submit:active {
  color: #d0d0d2;
}

.eula ion-icon {
    margin-left: 40px;
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.5s;
}

.eula ion-icon:hover {
    color: #ce1d2f;
}