{% extends "courses/layout.html" %}

{% load static %}

{% block body %}
<div class="navigation">
        <ul>
            <li class="list">
                <a href="{% url 'courses:indexadmin' %}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list active">
                <a href="{% url 'courses:admincourses' %}">
                    <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                    <span class="title">All courses</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'admin:index' %}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Django</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'courses:logout' %}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <div class="containertable">
        <h1>All Courses</h1>


        <div class="table">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Course code</th>
                    <th>Course name</th>
                    <th>Semester</th>
                    <th>Seat quota</th>
                    <th>No. of student</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{course.c_code}}</td>
                    <td>{{course.c_name}}</td>
                    <td>{{course.semester}}/{{course.a_year}}</td>
                    <td>{{course.max_stu}}</td>
                    <td>{{course.count_stu}}</td>
                    {% if course.status %}
                    <td>OPEN</td>
                    {% else %}
                    <td>CLOSE</td>
                    {% endif %}
                    <td><a href="{% url 'courses:acourse' course.id %}">Click</a></td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}