{% extends "courses/layout.html" %}

{% load static %}

{% block body %}
<div class="navigation">
        <ul>
            <li class="list">
                <a href="{% url 'courses:index' %}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list active">
                <a href="{% url 'courses:courses' %}">
                    <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                    <span class="title">Search course</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'courses:registration' %}">
                    <span class="icon"><ion-icon name="bookmark-outline"></ion-icon></span>
                    <span class="title">My courses</span>
                </a>
            </li>
            <li class="list">
                    <a href="{% url 'courses:profile' %}">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'courses:logout' %}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <div class="container">
        <h1>Courses</h1>
        {% for course in courses %}
            {% if course.status %}
                <div class="ticket">
                    <div class="left">
                        <div class="head">
                            <div class="h-l">
                                <h3>{{course.c_code}}</h3>
                            </div>
                            <div class="h-r">
                                <h5>{{course.semester}}/{{course.a_year}}</h5>
                            </div>
                        </div>
                        <div class="cname">
                            <h3>{{course.c_name}}</h3>
                        </div>
                        <div class="footer">
                            <div class="ft-l">
                                <img src="{% static 'images/TUlogoHor.png' %}" alt="">
                            </div>
                            <div class="ft-r">
                                <p>Seat No. {{course.count_stu}}/{{course.max_stu}}</p>
                            </div>
                        </div>
                    </div>
                    {% if course.count_stu != course.max_stu  %}
                    <div class="right">
                        <div class="head">
                            <div class="h-l">
                                <img src="{% static 'images/Thammasat_main_logo.png' %}" alt="">
                            </div>
                            <div class="h-r">
                                <h3>{{course.c_code}}</h3>
                            </div>
                        </div>

                        <div class="content">

                                <form action= "{% url 'courses:enroll_course' course.id %}" method="POST">
				                    {% csrf_token %}

                                <button  type="submit"><a>Enroll</a></button>

                                </form>
                        </div>

                        <div class="footer">
                            <p>{{course.semester}}/{{course.a_year}}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="rightfull">
                        <div class="content">
                            <h3>FULL</h3>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}

        {% endfor %}
    </div>



{% endblock %}