{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Courses</title>
	    <link rel="Stylesheet" href="{% static 'css/style.css' %}">
	</head>
<body>
	<!--<div class="container h-100">-->
	<!--	<div class="d-flex justify-content-center h-100">-->
	<!--		<div class="user_card">-->
	<!--			<div class="d-flex justify-content-center">-->


	<!--				<h3 id="form-title">LOGIN</h3>-->
	<!--			</div>-->
	<!--			<div class="d-flex justify-content-center form_container">-->
	<!--				<form method="POST" action="">-->
	<!--					{% csrf_token %}-->
	<!--					<div class="input-group mb-3">-->
	<!--						<div class="input-group-append">-->
	<!--							<span class="input-group-text"><i class="fas fa-user"></i></span>-->
	<!--						</div>-->

	<!--						<input type="text" name="username" placeholder="Username..." class="form-control">-->
	<!--					</div>-->

	<!--					<div class="input-group mb-2">-->
	<!--						<div class="input-group-append">-->
	<!--							<span class="input-group-text"><i class="fas fa-key"></i></span>-->
	<!--						</div>-->

	<!--							<input type="password" name="password" placeholder="Password..." class="form-control" >-->
	<!--					</div>-->

	<!--						<div class="d-flex justify-content-center mt-3 login_container">-->
	<!--			 				<input class="btn login_btn" type="submit" value="Login">-->
	<!--			   			</div>-->
	<!--				</form>-->

	<!--			</div>-->

	<!--			{% for message in messages %}-->
	<!--				<p id="messages">{{message}}</p>-->
	<!--			{% endfor %}			-->

	<!--			<div class="mt-4">-->
	<!--				<div class="d-flex justify-content-center links">-->

	<!--				</div>-->

	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--</div>-->


	<div class="page">
        <div class="containerlogin">
          <div class="leftlogin">
            <div class="login">Login</div>
            <div class="eula">YOKxPIE Registration</div>
            <a class="eula" href="https://github.com/YOKxPIE/YOKxPIE.github.io"><ion-icon name="logo-github"></ion-icon></a>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          </div>
          <div class="right">
            <svg viewBox="0 0 320 300">
              <defs>
                <linearGradient
                                inkscape:collect="always"
                                id="linearGradient"
                                x1="13"
                                y1="193.49992"
                                x2="307"
                                y2="193.49992"
                                gradientUnits="userSpaceOnUse">
                  <stop
                        style="stop-color:#ce1d2f;"
                        offset="0"
                        id="stop876" />
                  <stop
                        style="stop-color:#ce1d2f;"
                        offset="1"
                        id="stop878" />
                </linearGradient>
              </defs>
              <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016
              0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5
              0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c
              0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
            </svg>
            <div class="form">

            	<form method="POST" action="">
						{% csrf_token %}

              <label for="email">Username</label>
              <input type="text" name="username" id="email">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
              <input type="submit" id="submit" value="Login">
            </div>
          </div>
        </div>
      </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js'></script>

		<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</body>

</html>