{% extends "courses/layout.html" %}

{% load static %}

{% block body %}

<div class="navigation">
        <ul>
            <li class="list">
                <a href="{% url 'courses:index' %}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'courses:courses' %}">
                    <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                    <span class="title">Search course</span>
                </a>
            </li>
            <li class="list active">
                <a href="{% url 'courses:registration' %}">   <!-- ใส่ว่าใครกดยังไง -->
                    <span class="icon"><ion-icon name="bookmark-outline"></ion-icon></span>
                    <span class="title">My courses</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'courses:logout' %}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <div class="containertable">
        <h1>My Courses</h1>
        <h1>Enrolled: {{mycourse_count}} subjects</h1>


        <div class="table">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Course code</th>
                    <th>Course name</th>
                    <th>Semester</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for course in all_c %}
                {% for en_c in courses %}
                <tr>
                    {% if en_c.course == course %}
                    <td>{{course.c_code}}</td>
                    <td>{{course.c_name}}</td>
                    <td>{{course.semester}}/{{course.a_year}}</td>
                    <td>
                        <div class="dangerbutton">
                           <!-- <a href="#">Delete</a> -->
                           <a class="btn btn-sm btn-danger" href="{% url 'courses:delete_course' en_c.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
               {% endfor %}
               {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}